<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog site</h1>
    <p> Любые статьи</p>
{{ watch_time }}
    {% for post in post_list %}
        <div>
            <div><span><a href="/{{ post.pk }}/">{{ post.title }}</a> </span></div>
            <div><span>{{ post.content|linebreaksbr }}</span></div>
            <div><span>Создано: <b>{{ post.created }}</b></span></div>
        </div>
    {% endfor %}
</body>
</html>